[color]
    ui = auto
[alias]
    st = status
    stl = stash list
    co = checkout
    br = branch
    ls = ls-files
    cp = cherry-pick
    rh = reset --hard
[diff]
    tool = gvimdiff
[svn]
    pushmergeinfo = true
[user]
	name = Matthijs Kool
	email = matthijzk@gmail.com
[init]
	defaultBranch = main
