[color]
    ui = auto
[alias]
    st = status
    stl = stash list
    ci = commit
    co = checkout
    br = branch
    ls = ls-files
    g = grep -i
[diff]
    tool = gvimdiff
[svn]
    pushmergeinfo = true
